body {
  color: #1c1e21;
}
img {
  border: 0;
}
.box {
  position: relative;
  left: 337px;
  top: 142px;
}

#fblogo {
  left: -21px;
  height: 70px;
  margin: 0;
  position: relative;
}

.rl {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-seri;
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 0;
  color: #1c1e21;
}
.click {
  color: #606770;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}
.container {
  color: black;
  border-radius: 7px;
  width: 186px;
  right: 783px;
  position: relative;
  top: 31px;
  height: 194px;
  box-shadow: 0 0 0 1px #dddfe2;
  background-color: #f0f2f4;
  display: flex;
}
.aa {
  position: relative;
  left: 88px;
  border-radius: 7px;
  background-color: white;
  width: 160px;
  text-align: center;
  height: 29px;
}
.plus {
  position: relative;
  left: 149px;
  top: -124px;
}
